.input-container {
  width: 200px;

  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4px;

  .input-label {
    width: 100%;
    float: left;
    margin-left: 10px;
    color: rgb(25, 25, 25);

    cursor: default;
  }

  .field {
    width: calc(100% - 20px);
    height: 54px;
    font-size: 16px;

    padding-left: 16px;

    border-radius: 4px;
    border: 1px solid var(--background-additional);
    touch-action: none;
  }

  .input-legend {
    width: 100%;
    float: left;
    margin-left: 10px;

    color: var(--background-additional);
    font-size: 12px;
  }
}
