#header {
  width: 100vw;
  height: 40px;

  background-color: var(--background-additional);

  .header-container {
    height: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    .header-loading {
      height: 40px;
      grid-column-start: 2;

      display: flex;
      justify-content: center;
      align-items: center;
    }

    .header-rates {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;

      grid-column-start: 1;
    }

    .header-logo {
      display: flex;
      align-items: center;
      justify-content: center;

      grid-column-start: 2;
    }
  }
}
