#home-page {
  width: 100vw;
  height: calc(100vh - 40px);

  .home-page-container {
    padding: 75px 125px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .page-heading {
      text-align: center;
      font-size: 24px;
      margin-bottom: 20px;
    }

    .convert-output-container {
      display: flex;
      justify-content: space-between;

      .convert-output {
        text-align: right;
        width: 200px;
      }
    }
  }
}
