#home-page {
  width: 100vw;
  height: calc(100vh - 40px);

  display: flex;
  justify-content: center;

  .home-page-container {
    width: 70vw;
    padding: 75px 125px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .page-heading {
      width: 100%;
      text-align: center;
      font-size: 24px;
      margin-bottom: 20px;
    }

    .convert-output-container {
      width: 100%;
      display: flex;
      justify-content: space-between;

      .convert-output {
        text-align: right;
        width: 200px;
      }
    }
  }
}
